/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
}

/* Garantindo que o body ocupe toda a altura da janela */
html, body {
    height: 100%;
}

/* Layout flexível para o corpo da página */
body {
    display: flex;
    flex-direction: column;
}

/* Conteúdo principal da página */
main {
    flex-grow: 1;
}

/* Estilos do rodapé */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
}
